/*1단계
//justify-content사용
#pond{
	display: flex;
	justify-content : flex;
}
*/

/*2단계
//justify-content사용
#pond{
	display: flex;
	justify-content : center;
}
*/

/*3단계
//justify-content사용
#pond{
	display: flex;
	justify-content : space-around;
}
*/

/*4단계
//justify-content사용
#pond{
	display: flex;
	justify-content : space-between;
}
*/